<!-- application/guest - login-specific -->
<div class="callout large primary">
  <div class="text-center">
    <h1>Thank you for visiting my Rails project!</h1> <br>
    <p>Please have a <a href=<%= boards_path %>>look around</a>! The GitHub repo is linked below, as well as the original Rails project without the JQuery refactor.</p>
    <p>Also, I recommend you take OAuth for a test ride - I've provided options for both GitHub and Twitter! Just log on out via the NavBar after you're done poking around.</p>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x align-center">
    <div class="cell medium-8 text-center">
      <h4 class="subheader"><a class="button button-rounded-hover" href="https://github.com/AspenJames/rails-portfolio-message-board/tree/jquery-front-end" target="_blank">View on GitHub</a></h4>
      <h2 class="subheader">or</h2><br>
      <h4 class="subheader"><a class="button button-rounded-hover" href="https://messaging-board-rails.herokuapp.com/" target="_blank">View the Original!</a></h4>
    </div>
  </div>
</article>

